.program-btn {
  width: 100%;
  height: 3.5rem;
  cursor: pointer;
  padding-left: 3rem;
  position: relative;
  border-bottom: 1px solid #402030;
  transition: all .3s ease-out;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, .3);
  }

  &::before { 
    content: '';
    width: 0; 
    height: 0; 
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid transparent;
    position: absolute;
    right: 2rem;
    top: 30%;
  }

  &:hover::before, &:focus::before {
    border-left: .75rem solid #fff;
  }

  &:last-child {
    border-bottom: none;
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--current {
    color: #252525;
    background-color: rgba(255, 255, 255, .95); 
    transition: all .3s ease-out;
  }

  &--current::before {
    content: '';
    width: .25rem;
    height: 1rem;
    background-color: #252525;
    position: absolute;
    right: 2.5rem;
    top: 30%;
    border: none;
  }

  &--current::after {
    content: '';
    width: .25rem;
    height: 1rem;
    background-color: #252525;
    position: absolute;
    right: 2rem;
    top: 30%;
  }

  &--current:hover {
    background-color: #fff;
  }

  &--current:hover::before {
    border: none;
  }

}