.volume-control__volume {
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-out; 

  &--visible {
    opacity: 1;
    z-index: 10;
  }
}


/*Turn off and customise the range default styles: */

input[type="range"].volume-control__volume{
  -webkit-appearance: none;
  background: transparent;
  position: absolute;
  top: 4rem;
  right: -.5rem;
  transform: rotate(270deg);
  width: 5rem;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: rgba(255,255,255,.8);
  animate: .2s;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255,255,255,.8);
}
input[type=range]::-moz-range-track {
  height: 2px;
  cursor: pointer;
  animate: .2s;
  background: rgba(255,255,255,.8);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 1rem;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -2px 2px 2px 0 rgba(0,0,0,0.29);
  margin-top: -.55rem;
}

input[type=range]::-moz-range-thumb {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 1rem;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -2px 2px 2px 0 rgba(0,0,0,0.29);
  margin-top: -.55rem;
}

input[type="range"]:focus {
  outline: none;
}

.volume-control__volume {
  margin-right: -.5rem;
}

/*Styling the speaker*/

.volume-control__speaker {
  cursor: pointer;
  width: 0;
  height: 0;
  border: 7px solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 6px 3px;
  box-shadow: inset 4px 0;
  margin: 4px 16px 4px 7px;
  position: absolute;
  right: 2.5rem;
  top: 1.15rem;
  transition: color .3s ease-out;

  &--dark {
    color: rgba(255, 255, 255, .7);
  }
}

.volume-control__speaker::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: -.5rem;
  right: -1.25rem;
  border: 2px solid;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-style: double;
  border-width: 6px;
}